<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2021-05-29T07:52:25Z</date>
	<key>WorkspacePath</key>
	<string>/Users/i308888/GIT/Learning/BookMyShowAssignment/BookMyShowAssignment.xcodeproj</string>
</dict>
</plist>
